.page {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: -100;
}

.header {
  height: 300px;
  width: 100%;
  z-index: -1;
}

.header-image {
  z-index: 100;
}

.header-image img {
  width: 100%;
  height: 300px;
}

.header-text {
  text-transform: uppercase;
  font-family: 'Oswald';
  color: white;
  font-size: calc(3vmin);
  position: absolute;
  left: calc(100% / 2);
  top: calc(100% / 2);
}

.blog-list {
  align-items: center;
  align-content: center;
  display: inline-flex;
  position: relative;
  width: 100%;
  font-family: 'Oswald';
  flex-direction: column;
  justify-content: center;
}
.blog-wrapper {
  width: 80%;
  padding: 20px;
  overflow-wrap: break-word;
  border-bottom: grey 1px solid;
  justify-content: left;
  align-items: left;
  text-align: left;
}
.blog-title {
  text-align: left;
  font-weight: bold;
  font-size: 1.8rem;
}
.blog-summary {
  font-size: 1.6rem;
}
.blog-body {
  padding: 5px;
  font-size: 1.5rem;
}
.blog-close {
  text-align: right;
}
